@font-face {
    font-family: uniBold;
    src: url(uni-sans.heavy-bold.otf);
}

body {
    margin: 0;
    align-items: center;
    background-color: rgb(23, 23, 23);
}

h1 {
    font-family: uniBold;
    font-size: 5em;
    color: rgb(240, 212, 99);
    margin: 0;
    padding: 0;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 20%;
    background-color: rgb(44, 44, 44);
}

#loading-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: rgb(18, 18, 18);
}

#loading-top p {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: uniBold;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}

#author {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 15%;
}

#loading-text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loading-text p {
    font-size: 1em;
    font-family: uniBold;
    color: #fff;
}

#song {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(23, 23, 23);
}

#song-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(23, 23, 23);
    user-select: none;
    -webkit-user-select: none;
}

#song-cover {
    width: 300px;
    outline: 1px solid rgb(45, 102, 133);
    outline-offset: -1px;
    margin: 0;
}


#song-title {
    font-family: uniBold;
    font-size: 3em;
    color: rgb(240, 212, 99);
    margin: 0;
    padding: 0;
    text-align: center;
}

#song-time {
    font-family: uniBold;
    font-size: 1.5em;
    color: rgb(159, 140, 63);
    margin: 0;
    padding: 0;
    text-align: center;
}

#LOG {
    font-family: uniBold;
    font-size: 1em;
    color: rgb(231, 174, 53);
    margin: 0;
    padding: 0;
    text-align: center;
}

#bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(45, 45, 45);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

#playButton {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
}

#playImage {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    margin: 0;
    transition: 0.1s;
}

#playImage:hover {
    transform: translate(0px, -2px);
}

#loopButton {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
}

#loopImage1 {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 1%;
    top: 10px;
    margin: 0;
    transition: 0.1s;
}

#loopImage2 {
    width: 30px;
    height: 30px;
    position: absolute;
    visibility: hidden;
    left: 1%;
    top: 10px;
    margin: 0;
    transition: 0.1s;
}

#loopImage1:hover {
    transform: translate(0px, -2px);
}

#loopImage2:hover {
    transform: translate(0px, -2px);
}

#dirButton {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
}

#dirClosed {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    margin: 0;
}

#dirOpen {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    margin: 0;
}

#dirButton #dirOpen {
    display: none;
}

#dirButton:hover #dirOpen {
    display: block;
}

#dirButton:hover #dirClosed {
    display: none;
}

#prevButton {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
}

#prevImage {
    width: 30px;
    height: 30px;
    position: absolute;
    display: flex;
    left: 46%;
    top: 10px;
    margin: 0;
    transition: 0.1s;
}

#prevImage:hover {
    transform: translate(0px, -2px);
}

#nextButton {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
}

#nextImage {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 54%;
    top: 10px;
    margin: 0;
    transition: 0.1s;
}

#nextImage:hover {
    transform: translate(0px, -2px);
}

p {
    font-family: uniBold;
    font-size: 1.25em;
    color: rgb(179, 151, 39);
    margin: 0;
    padding: 0;
    margin-top: 25px;
    text-align: center;
}